* {
    font-family: 'Times New Roman', Times, serif    ;
}

.navbar {
    height: 10vh; 
}

#banner {
    height: 90vh;
}

#banner .ngee {
    background: url('ff.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

#banner .meow {
    padding: 100px;
}

.btn-primary {
    background-color: #a015ce !important;
    border: #ac32d4;
    border-radius: 0;
    padding: 12px 34 px;
    font-size: 20px;

}

#banner h6 {
    text-transform: uppercase;
    color: #89579b;
}

#banner h1, #services h2 {
    font-size: 68px;
}

#about {
    padding: 100px;
    background-color: #b675cc;
}
#services {
    padding: 100px;
    
}

.card {
    border: none;

}
.card-img-top {
    border: 2px solid #c867e9;
}

.testimonials {
    border : 3px solid #89579b;
    padding: 30px;
    margin-top: 20px;
}

.testimonials img {
    border-radius: 50%;
    width:75px;
  
}

#reviews {
    background-color: #fafafa;
    padding: 100px 0;
}

#reviews h2 {
    font-size: 68px;
}

.faq-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius:  0 !important;

}

.accordion-button {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    
}

.accordion-body {
    border-left: 3px solid #89579b;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
    background-color: #89579b;
    color: #FFF;
}
.accordion-button:hover {
    background-color: #89579b ;
    color: #FFF;
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #89579b;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color: #DDB365 ;
}